<mat-sidenav-container class="example-container" *ngIf="abrirlateral">
    <mat-sidenav #sidenav mode="side"  class="lateral">
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>

    </mat-sidenav>
  </mat-sidenav-container>
