.cuerpo{
  height: 100vh;
}
.sidenav{
  display:flex;
  justify-content: center;
  align-content:center;

  text-align: center;
  width: 30vh;
  background: linear-gradient(to right,rgba(gray,0.4),rgba(gray,0.2)), #002b5c;
  margin-top:6vh;




}
