.cuerpolistar{
  height: 100vh;
}
.listar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
    z-index: 1;
}
.example-card {
    max-width: 250px;
    margin: 2vh;
  }

  .titulo{
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
  color:black;
    z-index: 1;
  }