*{
    text-decoration: none;
    color: white;
    z-index: 9;
    
}
.position{
    position: fixed;
}
.barra{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}
.icono{
    padding: 1.5vh;
}
.sidenav{
    width: 10%;
    height: 10%;
}