.cuerpo{
  padding-top:6vh;
}
.navegation{
  background:#002b5c;
  height: auto;
  width: 8vh;
  display: flex;
  flex-direction: column;






}


.icon{

  color: white;
;

}

.active{

  color:yellow;
}
.size{
  cursor: pointer;
  padding: 2vh;
  font-size: 4vh;
}

