<div class="hero">
    <h1 class="hero-titulo">CRUD Personas <span class="hero-titulo-detalle"> APP</span></h1>

<h2 class="hero-subtitulo">Gestionamos los datos personales en una sola plataforma</h2>
</div>
<mat-divider></mat-divider>
<div>
    <div class="listar">
    
        <mat-card class="example-card"  >
          <mat-card-header>
           
            <mat-card-title><span class="info">Persona</span></mat-card-title>
            <mat-card-subtitle><span class="info">Gestionamos Personas </span></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src= "https://thumbs.dreamstime.com/b/vector-de-icono-perfil-usuario-s%C3%ADmbolo-retrato-avatar-logo-la-persona-forma-plana-silueta-negra-aislada-sobre-fondo-blanco-196482128.jpg"alt="Foto Persona">
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deleniti nobis iusto non optio, placeat recusandae, voluptas blanditiis ducimus
                 perferendis laborum mollitia omnis quod praesentium, facilis fugiat saepe harum suscipit?</p>
          </mat-card-content>
        </mat-card>
        
      
      
      
    
        <mat-card class="example-card"  >
          <mat-card-header>
           
            <mat-card-title><span class="info">Estudiantes</span></mat-card-title>
            <mat-card-subtitle><span class="info">Gestionamos Estudiantes </span></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src= "https://image.flaticon.com/icons/png/512/264/264734.png"alt="Foto Persona">
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deleniti nobis iusto non optio, placeat recusandae, voluptas blanditiis ducimus
                 perferendis laborum mollitia omnis quod praesentium, facilis fugiat saepe harum suscipit?</p>
          </mat-card-content>
        </mat-card>
        
      
      
      
    
        <mat-card class="example-card"  >
          <mat-card-header>
           
            <mat-card-title><span class="info">Profesores</span></mat-card-title>
            <mat-card-subtitle><span class="info">Gestionamos Profesores </span></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src= "https://e7.pngegg.com/pngimages/978/47/png-clipart-mentorship-computer-icons-teacher-organization-creative-icon-text-hand.png"alt="Foto Persona">
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deleniti nobis iusto non optio, placeat recusandae, voluptas blanditiis ducimus
                 perferendis laborum mollitia omnis quod praesentium, facilis fugiat saepe harum suscipit?</p>
          </mat-card-content>
        </mat-card>
        
      
      

</div>



