<mat-sidenav-container class="example-container" *ngIf="abrirlateral">
    <mat-sidenav #sidenav mode="side" >
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>
        <h1>Sidenav content</h1>

    </mat-sidenav>
    <mat-sidenav-content></mat-sidenav-content>
  </mat-sidenav-container>
